{$I SPCC.INC}

STRINGTABLE SIBYL_NLS_Default
BEGIN
     SSPCCMsgStart,                "SPCCMsgStart"

     SLanguage,                    "Deutsch"

     /* Buttons */
     SOk,                          "Ok"
     SOkButton,                    "~Ok"
     SCancel,                      "Abbruch"
     SCancelButton,                "Abbruch"
     SHelp,                        "Hilfe"
     SHelpButton,                  "Hilfe"
     SOpen,                        "ôffnen"
     SOpenButton,                  "ô~ffnen"
     SSave,                        "Speichern"
     SSaveButton,                  "~Speichern"
     SCreate,                      "Erzeugen"
     SCreateButton,                "~Erzeugen"
     SChange,                      "Wechseln"
     SChangeButton,                "~Wechseln"
     SFind,                        "Finden"
     SFindButton,                  "~Finden"
     SForward,                     "VorwÑrts"
     SForwardButton,               "~VorwÑrts"
     SBackward,                    "RÅckwÑrts"
     SBackwardButton,              "~RÅckwÑrts"
     SSearch,                      "Suchen"
     SSearchButton,                "~Suchen"
     SReplace,                     "Ersetzen"
     SReplaceButton,               "~Ersetzen"
     SConfirm,                     "BestÑtigung"
     SConfirmButton,               "~BestÑtigung"
     SAll,                         "Alle"
     SAllButton,                   "~Alle"
     SSelect,                      "Auswahl"
     SSelectButton,                "~Auswahl"
     SYes,                         "Ja"
     SYesButton,                   "~Ja"
     SNo,                          "Nein"
     SNoButton,                    "~Nein"
     SAbort,                       "öbergehen"
     SAbortButton,                 "ö~bergehen"
     SRetry,                       "Wiederholen"
     SRetryButton,                 "~Wiederholen"
     SIgnore,                      "Ignorieren"
     SIgnoreButton,                "~Ignorieren"
     SClose,                       "Schlie·en"
     SCloseButton,                 "~Schlie·en"
     SInsert,                      "EinfÅgen"
     SInsertButton,                "~EinfÅgen"
     SEdit,                        "Bearbeiten"
     SEditButton,                  "~Bearbeiten"
     SDelete,                      "Lîschen"
     SDeleteButton,                "~Lîschen"

     /* Captions */
     SError,                       "Fehler"
     SCriticalError,               "Schwerer Fehler"
     SInformation,                 "Information"
     SConfirmation,                "BestÑtigen"
     SWarning,                     "Warnung"
     SMessage,                     "Nachricht"
     SReadBlockFromFile,           "Lese Block aus Datei"
     SWriteBlockToFile,            "Schreibe Block in Datei"

     /* Standard file filters */
     SAllFiles,                    "Alle Dateien"
     SVideoFiles,                  "Video Dateien"
     SWaveFiles,                   "Wave Dateien"

     /* Standard Hints */
     SClickHereToAccept,           "Klicken Sie hier um fortzufahren"
     SClickHereToCancel,           "Klicken Sie hier um abzubrechen"
     SClickHereToGetHelp,          "Klicken Sie hier um Hilfe zu erhalten"
     SClickHereToCreateADir,       "Klicken Sie hier um ein Verzeichnis zu erzeugen"
     SPlayHint,                    "Spielen"
     SRecordHint,                  "Aufnehmen"
     SNextTrackHint,               "NÑchster Titel"
     SPreviousTrackHint,           "Vorheriger Titel"
     SPauseHint,                   "Pause"
     SRewindHint,                  "RÅcklauf"
     SStopHint,                    "Stop"
     SBackTrackHint,               "Titel zurÅck"
     SStepTrackHint,               "Titel Åberspringen"
     SEjectHint,                   "Auswerfen"
     SFirstRecordHint,             "Erster Datensatz"
     SPriorRecordHint,             "Voriger Datensatz"
     SNextRecordHint,              "NÑchster Datensatz"
     SLastRecordHint,              "Letzter Datensatz"
     SInsertRecordHint,            "Datensatz einfÅgen"
     SDeleteRecordHint,            "Datensatz lîschen"
     SEditRecordHint,              "Datensatz bearbeiten"
     SPostRecordHint,              "Datensatz bestÑtigen"
     SCancelRecordHint,            "Datensatz abbrechen"
     SRefreshRecordHint,           "Datensatz auffrischen"

     /* CREATEDIR Dialog */
     SCreateDirectory,             "Verzeichnis erstellen"
     SEnterNewDirectory,           "Neuenr Verzeichnisname"
     SCannotCreateDir,             "Verzeichnis kann nicht erzeugt werden"

     /* CHANGEDIR dialog */
     SChangeDirectory,             "Verzeichnis wechseln"
     SDirectoryName,               "Verzeicnisname"

     /* FIND Dialog */
     SFindText,                    "Text suchen"
     SOptions,                     "Optionen"
     SCaseSensitive,               "~Gro·-/Kleinschreibung"
     SWordsOnly,                   "Nur gan~ze Wîrter"
     SScope,                       "Bereich"
     SGlobal,                      "Gesa~mter Text"
     SSelectedText,                "~Selektierter Text"
     SOrigin,                      "Startpunkt"
     SEntireScope,                 "~Textanfang"
     SFromCursor,                  "Ab ~Cursorposition"
     SDirection,                   "Richtung"

     /* FONT Dialog */
     SSelectAFont,                 "Zeichensatz auswÑhlen"
     SName,                        "Name"
     SSize,                        "Grî·e"
     SStyle,                       "Stil"
     SItalic,                      "~Kursiv"
     SBold,                        "~Fett"
     SEmphasis,                    "Optionen"
     SOutline,                     "U~mrandet"
     SStrikeOut,                   "~Durchgestrichen"
     SUnderScore,                  "~Unterstrichen"
     SExampleText,                 "Beispieltext"

     /* OPEN Dialog */
     SOpenAFile,                   "Datei îffnen"
     SFileName,                    "Dateiname"
     SFileType,                    "Dateityp"
     SDrive,                       "Laufwerk"
     SFiles,                       "Dateien"
     SDirectories,                 "Verzeichnisse"
     SChangeToTargetDir,           "~Wechsel ins Zielverzeichnis"

     /* SAVE Dialog */
     SSaveFileAs,                  "Datei speichern"

     /* REPLACE Dialog */
     SReplaceText,                 "Text ersetzen"

     /* COLOR Dialog */
     SSelectAColor,                "Auswahl einer Farbe"
     SDefaultColors,               "Standardfarben"

     /* Standard error messages */
     SStreamReadErrorText,         "TStream "write" Ausnahme (EStreamReadError) aufgetreten"
     SStreamWriteErrorText,        "TStream "read" Ausnahme (EStreamReadError) aufgetreten"
     SStreamCreateErrorText,       "TStream "create" Ausnahme (EStreamCreateError) aufgetreten"
     SStreamOpenErrorText,         "TStream "open" Ausnahme (EStreamOpenError) aufgetreten"
     SStreamSeekErrorText,         "TStream "seek" Ausnahme (EStreamSeekError) aufgetreten"
     SListErrorText,               "TList Ausnahme (EListError) aufgetreten"
     SCollectionErrorText,         "UngÅltiges Collection-Element"
     SStringListDupeErrorText,     "TStringList: Doppeltes Element."
     SStringListInsertErrorText,   "EinfÅgen in eine sortierte Liste ist nicht erlaubt."
     SEBitsErrorText,              "EBits Fehler."
     SNoMoreTimers,                "Keine weiteren Zeitgeber (Timer)"
     SCouldNotRemoveTimer,         "Konnte Zeitgeber (Timer) nicht entfernen"
     SAppHelpFailed,               "Hilfedatei konnte nicht gefunden oder initialisiert werden."
     SProgramAborted,               "Program abgebrochen"
     SMainWindowFailed,            "Hauptfenster nicht initialisiert"
     SCouldNotCreateWindow,        "Fenster konnte nicht erzeugt werden"
     SMMAccessError,               "Zugriffsfehler in MDM.DLL oder MDM.DLL. MMPM/2 korrekt installiert?"
     SMDMNotFound,                 "MDM.DLL nicht gefunden. MMPM/2 installiert?"
     SMMIONotFound,                "MMIO.DLL nicht gefunden. MMPM/2 installiert?"
     SUnknownMCIError,             "Unbekannter MCI Fehler"
     SNoFileName,                  "Kein Dateiname angegeben"
     SFatalMCIError,               "Fataler MCI Fehler"
     SWrongMovieHandle,            "Falsches Movie Handle"
     SCannotPerformDBAction,       "Diese Aktion kann nicht auf ein offenes DataSet ausgefÅhrt werden"
     SErrorFetchingSQLStatement,   "Error fetching SQL statement"
     SErrorExecutingSQLStatement,  "Fehler beim auswerten der SQL Anweisung"
     SEmptyResultSet,              "Leeres Result-Set"
     SDataSourceLinkError,         "DataSource mu· mit einer TTable Komponente verbunden sein"
     SSQLError,                    "SQL Fehler"
     SErrLoadingDB,                "Fehler beim Laden der Datenbank-DLL"
     SErrAllocDBEnv,               "Fehler beim Initialisieren der Datenbankumgebung"
     SErrAllocDBConnect,           "Fehler beim Erzeugen des Datenbank-Verbindungshandles"
     SErrSettingDBOpts,            "Fehler beim Setzen der Datenbank-Umgebungsoptionen"
     SErrorDBConnecting,           "Datenbank-Verbindungsfehler"
     SCouldNotCopyText,            "Text konnte nicht kopiert werden"
     SCouldNotAccessClipboard,     "Zugriff auf das ClipBoard verweigert"
     SSaveQuery,                   "'%s' wurde modifiziert. Speichern?"
     SFileNotFound,                "Datei '%s' nicht gefunden"
     SErrorWriting,                "Schreibfehler"
     SLineWouldBeTooLong,          "Zeile wÑre zu lang"
     SReplaceThisString,           "Diese Zeichenkette ersetzen?"
     SLoading,                     "Lade..."
     SSaving,                      "Speichere..."
     SAlreadyExistsOverwrite,      "Datei '%s' existiert bereits. öberschreiben?"
     SSearchStringNotFound,        "Suchstring '%s' wurde nicht gefunden"
     SErrorWritingTemporaryFile,   "Fehler beim Schreiben in temporÑre Datei"
     SErrorCreatingTemporaryFile,  "Fehler beim Erzeugen der temporÑren Datei"
     SCannotOpenIniFile,           "Ini-File kann nicht geîffnet werden"
     SWriteError,                  "Schreibfehler"
     SInvalidOutlineNodeOwner,     "UngÅltiger Outline-Node Besitzer"
     SInvalidOutlineNodeIndex,     "UngÅltiger Outline-Node Index"
     SInvalidOutlineNode,          "UngÅltige Outline-Node"
     SInvalidBitmap,               "UngÅltiges Bitmapformat (EInvalidBitmap) Ausnahme"
     SInvalidIcon,                 "UngÅltiges Iconformat (EInvalidIcon) Ausnahme"
     SInvalidCursor,               "UngÅltiges Mauszeigerformat (EInvalidCursor) Ausnahme"
     SInvalidListBoxItemIndex,     "UngÅltiges Index fÅr Listboxelement"
     SInvalidMemoLineIndex,        "UngÅltiger Index fÅr MLE Zeile"
     SPropertyNotFound,            "Property '%s' ist in der Klasse '%s' nicht verîffentlicht (Published)"
     SPropertySkipped,             "Property wird Åberlesen"
     SPropertyReadOnly,            "Property '%s' ist nur lesbar"
     SCouldNotReadFromProperty,    "Kann Property '%s' nicht lesen"
     SPropError,                   "Property %s nicht gefunden"
     SComponentNotFound,           "Komponente '%s' nicht gefunden"
     SUseRegisterClasses,          "Benutzen Sie 'RegisterClasses' um die Komponente zu registrieren!"
     SSCUErrorInClass,             "SCU Fehler in Klasse '%s'"
     SMethodNotFound,              "Methode '%s' ist in der Klasse '%s' nicht verîffentlicht (Published)"
     SCouldNotWriteToProperty,     "Schreibzugriff auf Property '%s' fehlgeschlagen"
     SLinkNotFound,                "Link fÅr '%s' nicht gefunden"

     /* SysUtils messages */
     SInvalidInteger,              "'%s' ist kein gÅltiger Integer-Wert"
     SInvalidFloat,                "'%s' ist kein gÅltiger Gleitkomma-Wert"
     SInvalidDate,                 "'%s' ist kein gÅltiges Datum"
     SInvalidTime,                 "'%s' ist keine gÅltige Zeit"
     SInvalidDateTime,             "'%s' ist keine gÅltige Datum/Zeit-Kombination"
     STimeEncodeError,             "Illegales Argument '%d:%d:%d.%d' fÅr Zeitkodierung"
     SDateEncodeError,             "Illegales Argument '%d/%d/%d' fÅr Datumskodierung"
     SInvalidFormat,               "Format-Platzhalter '%s' illegal oder unpassendes Argument"
     SArgumentMissing,             "Kein Argument fÅr Format-Platzhalter '%s' gefunden"

     SShortMonthNames + 0,         "Jan"
     SShortMonthNames + 1,         "Feb"
     SShortMonthNames + 2,         "MÑr"
     SShortMonthNames + 3,         "Apr"
     SShortMonthNames + 4,         "Mai"
     SShortMonthNames + 5,         "Jun"
     SShortMonthNames + 6,         "Jul"
     SShortMonthNames + 7,         "Aug"
     SShortMonthNames + 8,         "Sep"
     SShortMonthNames + 9,         "Okt"
     SShortMonthNames + 10,        "Nov"
     SShortMonthNames + 11,        "Dez"

     SLongMonthNames + 0,          "Januar"
     SLongMonthNames + 1,          "Februar"
     SLongMonthNames + 2,          "MÑrz"
     SLongMonthNames + 3,          "April"
     SLongMonthNames + 4,          "Mai"
     SLongMonthNames + 5,          "Juni"
     SLongMonthNames + 6,          "Juli"
     SLongMonthNames + 7,          "August"
     SLongMonthNames + 8,          "September"
     SLongMonthNames + 9,          "Oktober"
     SLongMonthNames + 10,         "November"
     SLongMonthNames + 11,         "Dezember"

     SShortDayNames + 0,           "So"
     SShortDayNames + 1,           "Mo"
     SShortDayNames + 2,           "Di"
     SShortDayNames + 3,           "Mi"
     SShortDayNames + 4,           "Do"
     SShortDayNames + 5,           "Fr"
     SShortDayNames + 6,           "Sa"

     SLongDayNames + 0,            "Sonntag"
     SLongDayNames + 1,            "Montag"
     SLongDayNames + 2,            "Dienstag"
     SLongDayNames + 3,            "Mittwoch"
     SLongDayNames + 4,            "Donnerstag"
     SLongDayNames + 5,            "Freitag"
     SLongDayNames + 6,            "Samstag"

     /* Dual ListBox */
     SSource,                      "Quelle"
     SDestination,                 "Ziel"

     /* Printer Dialog */
     SSetupPrinter,                "Drucker einrichten"
     SSetPrinter,                  "Drucker ~setzen"
     SCurrentPrinter,              "Aktueller Drucker"
     SProperties,                  "~Eigenschaften"
     SClickHereToSetProperties,    "Klicken Sie hier um die Eigenschaften zu Ñndern"
     SPrint,                       "Drucken"
     SPrintButton,                 "~Drucken"
     STitle,                       "Titel"
     SCopies,                      "Kopien"
     SPages,                       "Seiten"
     SFrom,                        "Von"
     STo,                          "nach"
     SFile,                        "Datei"

     /* TabCtrls */
     SNextPage,                    "NÑchste Seite"
     SPreviousPage,                "Vorherige Seite"

     /* Printer */
     SInvalidIndex,                "UngÅltiger Druckerindex %d. Es sind nur %d Drucker verfÅgbar."
     SNoHandleIC,                  "Fehler beim Ermitteln des Handles fÅr den 'Information Context' (rc=$%x)."
     SNoHandleDC,                  "Fehler beim Ermitteln des Handles fÅr den 'Device Context' (rc=$%x)."
     SNoHandlePS,                  "Fehler beim Ermitteln des Handles fÅr den 'Presentation Space' (rc=$%x)."
     SPrinterIdle,                 "Es wurde versucht, die Funktion '%s' au·erhalb eines Dokumentes aufzurufen."
     SPrinterBusy,                 "Es wurde versucht, die Funktion '%s' innerhalb eines Dokumentes aufzurufen."
     SDeviceNotFound,              "Kein GerÑt fÅr Warteschlange '%s' gefunden."
     SJobProperties,               "Unerwartete Grî·e fÅr die Eigenschaft eines Druck-Jobs. Es werden %d anstelle von %d Bytes benîtigt."
     SPrinterInit1,                "Fehler beim Initialisieren des Druckerobjektes."
     SPrinterInit2,                "Druckerfunktionen sind nicht verfÅgbar."

     STerminateProgram,            "Programm beenden ?"

     SMDIChildRestore,             "~Restore"
     SMDIChildMove,                "~Move"
     SMDIChildSize,                "~Grî·e"
     SMDIChildMinimize,            "Mi~nimize"
     SMDIChildMaximize,            "Ma~ximize"
     SMDIChildClose,               "~Schlie·en"

END

