# Include file for the build scripts. Edit as necessary for your system.

# --------------------------------------------------------------------------
# Path to the OpenWatcom compiler.

SET WATCOM=D:\progs\watcom


# --------------------------------------------------------------------------
# Top level directory of working copy (i.e. location of this file).

SET NV_DEV=P:\newview_dev


# --------------------------------------------------------------------------
# Enable debugging menus. Uncomment as needed.

SET NEWVIEW_DEBUG=TRUE
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogStartup
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogShutdown
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogSettings
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogI18n
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogParse
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogDisplay
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogSearch
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogNHM
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogViewStub
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogObjConstDest
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogMem
# SET NEWVIEW_DEBUG=%NEWVIEW_DEBUG%,LogDebug


# --------------------------------------------------------------------------
# Location of PMPRINTF (optional).

SET PMPRINTF_PATH=D:\tools\pmprintf

