{$I SPCC.INC}

STRINGTABLE SIBYL_NLS_Default
BEGIN
     SSPCCMsgStart,                "SPCCMsgStart"

     SLanguage,                    "English"

     /* Buttons */
     SOk,                          "OK"
     SOkButton,                    "~OK"
     SCancel,                      "Cancel"
     SCancelButton,                "Cancel"
     SHelp,                        "Help"
     SHelpButton,                  "Help"
     SOpen,                        "Open"
     SOpenButton,                  "~Open"
     SSave,                        "Save"
     SSaveButton,                  "~Save"
     SCreate,                      "Create"
     SCreateButton,                "~Create"
     SChange,                      "Change"
     SChangeButton,                "C~hange"
     SFind,                        "Find"
     SFindButton,                  "~Find"
     SForward,                     "Forward"
     SForwardButton,               "~Forward"
     SBackward,                    "Backward"
     SBackwardButton,              "~Backward"
     SSearch,                      "Search"
     SSearchButton,                "~Search"
     SReplace,                     "Replace"
     SReplaceButton,               "~Replace"
     SConfirm,                     "Confirm"
     SConfirmButton,               "Confir~m"
     SAll,                         "All"
     SAllButton,                   "~All"
     SSelect,                      "Select"
     SSelectButton,                "~Select"
     SYes,                         "Yes"
     SYesButton,                   "~Yes"
     SNo,                          "No"
     SNoButton,                    "~No"
     SAbort,                       "Abort"
     SAbortButton,                 "A~bort"
     SRetry,                       "Retry"
     SRetryButton,                 "~Retry"
     SIgnore,                      "Ignore"
     SIgnoreButton,                "~Ignore"
     SClose,                       "Close"
     SCloseButton,                 "Cl~ose"
     SInsert,                      "Insert"
     SInsertButton,                "~Insert"
     SEdit,                        "Edit"
     SEditButton,                  "~Edit"
     SDelete,                      "Delete"
     SDeleteButton,                "~Delete"

     /* Captions */
     SError,                       "Error"
     SCriticalError,               "Critical Error"
     SInformation,                 "Information"
     SConfirmation,                "Confirm"
     SWarning,                     "Warning"
     SMessage,                     "Message"
     SReadBlockFromFile,           "Read block from file"
     SWriteBlockToFile,            "Write block to file"

     /* Standard file filters */
     SAllFiles,                    "All Files"
     SVideoFiles,                  "Video Files"
     SWaveFiles,                   "Wave Files"

     /* Standard Hints */
     SClickHereToAccept,           "Click here to accept"
     SClickHereToCancel,           "Click here to cancel"
     SClickHereToGetHelp,          "Click here to get help"
     SClickHereToCreateADir,       "Click here to create a directory"
     SPlayHint,                    "Play"
     SRecordHint,                  "Record"
     SNextTrackHint,               "Next Track"
     SPreviousTrackHint,           "Previous Track"
     SPauseHint,                   "Pause"
     SRewindHint,                  "Rewind"
     SStopHint,                    "Stop"
     SBackTrackHint,               "Back Track"
     SStepTrackHint,               "Step Track"
     SEjectHint,                   "Eject"
     SFirstRecordHint,             "First Record"
     SPriorRecordHint,             "Prior Record"
     SNextRecordHint,              "Next Record"
     SLastRecordHint,              "Last Record"
     SInsertRecordHint,            "Insert Record"
     SDeleteRecordHint,            "Delete Record"
     SEditRecordHint,              "Edit Record"
     SPostRecordHint,              "Post Record"
     SCancelRecordHint,            "Cancel Record"
     SRefreshRecordHint,           "Refresh Record"

     /* CREATEDIR Dialog */
     SCreateDirectory,             "Create directory"
     SEnterNewDirectory,           "Enter new directory name"
     SCannotCreateDir,             "Cannot create directory"

     /* CHANGEDIR dialog */
     SChangeDirectory,             "Change directory"
     SDirectoryName,               "Directory name"

     /* FIND Dialog */
     SFindText,                    "Find text"
     SOptions,                     "Options"
     SCaseSensitive,               "Case sensiti~ve"
     SWordsOnly,                   "Words onl~y"
     SScope,                       "Scope"
     SGlobal,                      "~Global"
     SSelectedText,                "~Selected Text"
     SOrigin,                      "Origin"
     SEntireScope,                 "~Entire Scope"
     SFromCursor,                  "From ~Cursor"
     SDirection,                   "Direction"

     /* FONT Dialog */
     SSelectAFont,                 "Select a font"
     SName,                        "Name"
     SSize,                        "Size"
     SStyle,                       "Style"
     SItalic,                      "~Italic"
     SBold,                        "~Bold"
     SEmphasis,                    "Emphasis"
     SOutline,                     "~Outline"
     SStrikeOut,                   "~StrikeOut"
     SUnderScore,                  "~UnderScore"
     SExampleText,                 "Example Text"

     /* OPEN Dialog */
     SOpenAFile,                   "Open a file"
     SFileName,                    "Filename"
     SFileType,                    "Type of file"
     SDrive,                       "Drive"
     SFiles,                       "Files"
     SDirectories,                 "Directories"
     SChangeToTargetDir,           "Change to ~target directory"

     /* SAVE Dialog */
     SSaveFileAs,                  "Save file as"

     /* REPLACE Dialog */
     SReplaceText,                 "Replace text"

     /* COLOR Dialog */
     SSelectAColor,                "Select a color"
     SDefaultColors,               "Default Colors"

     /* Standard error messages */
     SStreamReadErrorText,         "TStream read error exception (EStreamReadError) occured"
     SStreamWriteErrorText,        "TStream write error exception (EStreamReadError) occured"
     SStreamCreateErrorText,       "TStream create error exception (EStreamCreateError) occured"
     SStreamOpenErrorText,         "TStream open error exception (EStreamOpenError) occured"
     SStreamSeekErrorText,         "TStream seek error exception (EStreamSeekError) occured"
     SListErrorText,               "TList error exception (EListError) occured"
     SCollectionErrorText,         "Invalid collection item exception"
     SStringListDupeErrorText,     "TStringList: Dupe error."
     SStringListInsertErrorText,   "Insertion into sorted list is not allowed."
     SEBitsErrorText,              "EBits error."
     SNoMoreTimers,                "No more timers"
     SCouldNotRemoveTimer,         "Could not remove timer"
     SAppHelpFailed,               "Application failed to initialize help."
     SProgramAborted,               "Program aborted"
     SMainWindowFailed,            "MainWindow not initialized"
     SCouldNotCreateWindow,        "Could not create window"
     SMMAccessError,               "Access error in MDM.DLL or MDM.DLL. MMPM/2 correctly installed?"
     SMDMNotFound,                 "MDM.DLL not found. MMPM/2 installed?"
     SMMIONotFound,                "MMIO.DLL not found. MMPM/2 installed?"
     SUnknownMCIError,             "Unknown MCI error"
     SNoFileName,                  "No filename specified"
     SFatalMCIError,               "Fatal MCI Error"
     SWrongMovieHandle,            "Wrong movie handle"
     SCannotPerformDBAction,       "Cannot perform this action on a open dataset"
     SErrorFetchingSQLStatement,   "Error fetching SQL statement"
     SErrorExecutingSQLStatement,  "Error executing SQL statement"
     SEmptyResultSet,              "Empty result set"
     SDataSourceLinkError,         "DataSource must be linked to a TTable component"
     SSQLError,                    "SQL Error"
     SErrLoadingDB,                "Error loading database DLL"
     SErrAllocDBEnv,               "Error allocating database environment"
     SErrAllocDBConnect,           "Error allocating database connection handle"
     SErrSettingDBOpts,            "Error setting database environment options"
     SErrorDBConnecting,           "Error connecting to database"
     SCouldNotCopyText,            "Could not copy text"
     SCouldNotAccessClipboard,     "Could not access clipboard"
     SSaveQuery,                   "'%s' was modified. Save?"
     SFileNotFound,                "File '%s' not found"
     SErrorWriting,                "Error writing"
     SLineWouldBeTooLong,          "Line would be too long"
     SReplaceThisString,           "Replace this string?"
     SLoading,                     "Loading..."
     SSaving,                      "Saving..."
     SAlreadyExistsOverwrite,      "File '%s' already exists. Overwrite?"
     SSearchStringNotFound,        "Search string '%s' not found"
     SErrorWritingTemporaryFile,   "Error writing temporary file"
     SErrorCreatingTemporaryFile,  "Error creating temporary file"
     SCannotOpenIniFile,           "Cannot open ini-file"
     SWriteError,                  "Write Error"
     SInvalidOutlineNodeOwner,     "Invalid outline node owner"
     SInvalidOutlineNodeIndex,     "Invalid outline node index"
     SInvalidOutlineNode,          "Invalid outline node"
     SInvalidBitmap,               "Invalid Bitmap format exception (EInvalidBitmap) occured"
     SInvalidIcon,                 "Invalid Icon format exception (EInvalidIcon) occured"
     SInvalidCursor,               "Invalid Cursor format exception (EInvalidCursor) occured"
     SInvalidListBoxItemIndex,     "Invalid listbox item index"
     SInvalidMemoLineIndex,        "Invalid memo line index"

     /* SysUtils messages */
     SInvalidInteger,              "'%s' is not a legal integer value"
     SInvalidFloat,                "'%s' is not a legal floating point value"
     SInvalidDate,                 "'%s' is not a legal date"
     SInvalidTime,                 "'%s' is not a legal time"
     SInvalidDateTime,             "'%s' is not a legal date/time"
     STimeEncodeError,             "Illegal argument '%d:%d:%d.%d' for time encoding"
     SDateEncodeError,             "Illegal argument '%d/%d/%d' for date encoding"
     SInvalidFormat,               "Format specifier '%s' illegal or incompatible with argument"
     SArgumentMissing,             "No argument found for format specifier '%s'"
     SPropertyNotFound,            "Property '%s' not found in published part of class '%s'"
     SPropertySkipped,             "Property skipped"
     SPropertyReadOnly,            "Property '%s' is read only"
     SCouldNotReadFromProperty,    "Could not read from property '%s'"
     SPropError,                   "Property '%s' not found"
     SComponentNotFound,           "Component '%s' not found"
     SUseRegisterClasses,          "Use 'RegisterClasses' to register the component!"
     SSCUErrorInClass,             "SCU error in class '%s'"
     SMethodNotFound,              "Method '%s' not found in published part of class '%s'"
     SCouldNotWriteToProperty,     "Could not write to property '%s'"
     SLinkNotFound,                "Link not found for '%s'"

     SShortMonthNames + 0,         "Jan"
     SShortMonthNames + 1,         "Feb"
     SShortMonthNames + 2,         "Mar"
     SShortMonthNames + 3,         "Apr"
     SShortMonthNames + 4,         "May"
     SShortMonthNames + 5,         "Jun"
     SShortMonthNames + 6,         "Jul"
     SShortMonthNames + 7,         "Aug"
     SShortMonthNames + 8,         "Sep"
     SShortMonthNames + 9,         "Oct"
     SShortMonthNames + 10,        "Nov"
     SShortMonthNames + 11,        "Dec"

     SLongMonthNames + 0,          "January"
     SLongMonthNames + 1,          "February"
     SLongMonthNames + 2,          "March"
     SLongMonthNames + 3,          "April"
     SLongMonthNames + 4,          "May"
     SLongMonthNames + 5,          "June"
     SLongMonthNames + 6,          "July"
     SLongMonthNames + 7,          "August"
     SLongMonthNames + 8,          "September"
     SLongMonthNames + 9,          "October"
     SLongMonthNames + 10,         "November"
     SLongMonthNames + 11,         "December"

     SShortDayNames + 0,           "Sun"
     SShortDayNames + 1,           "Mon"
     SShortDayNames + 2,           "Tue"
     SShortDayNames + 3,           "Wed"
     SShortDayNames + 4,           "Thu"
     SShortDayNames + 5,           "Fri"
     SShortDayNames + 6,           "Sat"

     SLongDayNames + 0,            "Sunday"
     SLongDayNames + 1,            "Monday"
     SLongDayNames + 2,            "Tuesday"
     SLongDayNames + 3,            "Wednesday"
     SLongDayNames + 4,            "Thursday"
     SLongDayNames + 5,            "Friday"
     SLongDayNames + 6,            "Saturday"

     /* Dual ListBox */
     SSource,                      "Source"
     SDestination,                 "Destination"

     /* Printer Dialog */
     SSetupPrinter,                "Setup Printer"
     SSetPrinter,                  "~Set Printer"
     SCurrentPrinter,              "Current Printer"
     SProperties,                  "Pr~operties"
     SClickHereToSetProperties,    "Click here to set properties"
     SPrint,                       "Print"
     SPrintButton,                 "~Print"
     STitle,                       "Title"
     SCopies,                      "Copies"
     SPages,                       "Pages"
     SFrom,                        "From"
     STo,                          "to"
     SFile,                        "File"

     /* TabCtrls */
     SNextPage,                    "Next Page"
     SPreviousPage,                "Previous Page"

     /* Printer */
     SInvalidIndex,                "Invalid printer index %d. Only %d printers available."
     SNoHandleIC,                  "Failed to obtain handle for information context (rc=$%x)."
     SNoHandleDC,                  "Failed to obtain handle for device context (rc=$%x)."
     SNoHandlePS,                  "Failed to obtain handle for presentation space (rc=$%x)."
     SPrinterIdle,                 "Tried to call '%s' while not in document."
     SPrinterBusy,                 "Tried to call '%s' while in document."
     SDeviceNotFound,              "No device found for queue '%s'."
     SJobProperties,               "Unexpected job property size. Need %d instead of %d bytes."
     SPrinterInit1,                "Error initializing printer object."
     SPrinterInit2,                "Printing functions not available."

     STerminateProgram,            "Terminate program ?"
     SMDIChildRestore,             "~Restore"
     SMDIChildMove,                "~Move"
     SMDIChildSize,                "~Size"
     SMDIChildMinimize,            "Mi~nimize"
     SMDIChildMaximize,            "Ma~ximize"
     SMDIChildClose,               "~Close"
END

