/* Speed Resource script */


BITMAP RedOn LED_RON.BMP

BITMAP RedOff LED_ROFF.BMP

BITMAP GrOn LED_GON.BMP

BITMAP GrOff LED_GOFF.BMP

BITMAP YwOn LED_YON.BMP

BITMAP YwOff LED_YOFF.BMP

BITMAP BlOn LED_BON.BMP

BITMAP BlOff LED_BOFF.BMP

